div {
    background-color: aquamarine;
    height: 300px;
    width: 500px;
    margin-top: 200px;
    margin-left: 30%;
    border-radius: 10px;
    color: white;
    font-size: 20px;

}
button {
    background-color: yellow;
    width: 200px;
    height: 60px;
    margin-left: 30px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    color: white;

}
p {
    margin-left: 30px;
    margin-top: 20px;

}

#id {
    margin-left: 30px;
    margin-top: 20px;
}

