.projects-container {
  padding: 50px;
  
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  text-align: center;
  
  background-color: rgba(77, 77, 77, 0.24);
}
.projects-text {
  margin: 50px;
  text-align: center;
  color:white;

}
.projects-a {
  color: #a9fb45;
  cursor: pointer;
  text-decoration: none;
}
.projects-cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  
}
.project-button {
  background-color: #a9fb45;
  border: none;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.project-card {
  background: rgba(0, 0, 0, 0.329);
  
  border-radius: 8px;
  
  padding: 20px;
  text-align: left;
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  
    
}
.project-card h3 {
  color: #a9fb45;
  font-size: larger;
  
}
.project-card p {
  color: #ffffff;
  font-size: 14px;
  flex-grow: 1;
  
}
.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: rgb(47, 50, 44);
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 12px;
  position: relative;
  animation: scaleIn 0.2s ease;
}

.popup-content img {
  width: 100%;
  border-radius: 8px;
}
.h2 {
  color: #a9fb45;
  margin-bottom: 10px;
}
.p {
  color: #ffffff;
  margin-bottom: 20px;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 970px) {
  .projects-cards-container {
    grid-template-columns: auto;
  }
}
