Codewars
<div class="a" ></div>
<div class="b" ></div>
<div class="c" ></div>
<style>
  body{
    background: #B8F4A6;
  }
  .a {
    width: 200px;
    height: 200px;
    background-color: #3BA44D;
    border-radius: 100%;
    margin-top: 50px;
    margin-left: 93px;
  }
  .b {
    width: 50px;
    height: 100%;
    background-color: #B8F4A6;
    position: absolute;
    left: 175px;
    top: 0px;
  }

  .c {
    width: 100%;
    height: 50px;
    background-color: #B8F4A6;
    position: absolute;
    left: 0px;
    top: 125px;
  }

</style>