#title {
    width: 75%;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(69, 70, 88);
    display: flex;
    align-items: center;
    margin-top: 30px;
}
#title button {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: rgb(103, 104, 134);
    border: none;
    outline: none;
    position: absolute;
    right: 167px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(9, 9, 36), rgb(35, 35, 117));
    
    
}
#title img {
    height: 70%;
    width: auto;
    margin-left: 6px;
    
}
#title2 #line {
    width: 170px;
}
#title2 {
    height: 50px;
    width: 76%;
    background: transparent;
    display: flex;
    align-items: center;
    margin-top: 70px;
}
#title2 #All{
    background-color: rgb(241, 70, 70);
    color: black;
    margin-left: 600px;
}
#title2 button {
    height: 28px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 14px;
    margin-left: 10px;
    border: none;
    background-color: rgb(103, 104, 134);
    color:white;

}
#title2 #line h2 {
    color: white;
}

#divs {
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    
    
}

.Small {
    
    color: antiquewhite;
    background: rgb(69, 70, 88);
    border-radius: 14px;
    margin: 5px;
    padding: 10px;
    border:solid, 1px, rgb(103, 104, 134);
    height: 160px;

}
.Small img {
    position: absolute;
    
    
}
.Small h3, .Small p {
    margin-left: 70px;
}

.Small button{
    border:solid, 1px, rgb(103, 104, 134);
    border-radius: 14px;
    background-color: transparent;
    padding: 7px;
    color: white;
}