#parent {
    width: 300px;
    height: 300px;
    background-color: brown;

}
#child {
    width: 150px;
    aspect-ratio: 1;
    background-color: aqua;
}
#parent2 {
    width: 450px;
    height: 450px;
    background-color: rgb(0, 0, 0);

}

#hi {
    width: 200px;
    height: 200px;
    background-color: blue;
}
#hello {
    height: 100px;
    aspect-ratio: 1;
    background-color: rgb(0, 255, 234);
}