.a {
    width: 300px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #609ea3;
    box-shadow: 5px 5px grey;
}
img{
    width: 300px;
    height: auto;
}
#root {
    display: grid;
    grid-template-columns: auto auto auto;
}
