* {
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}
#root{
    margin-top: 200px;
}
#main{
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#main2{
    width: 300px;
    display: flex;
    gap: 30px;
    margin: 10px;
}
#first {
    width: 400px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
h1 {
    margin-top: 20px;
}
#p {
    display: flex;
    align-items: center;
}
a {
    text-decoration: underline;
    color: blue;
}
button {
    height: 45px;
    width: 280px;
    border-radius: 12px;
    border: none;
}
#a{
    background-color: rgb(70, 0, 128);
    color: white;
}
#b{
    color: grey;
}




