.FB-container {
  background-color: #f0f2f5;
  padding: 50px;
  height: 500px;
  width: 100%;
  display: flex;
  text-align: center;
  
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: rgb(82, 85, 81);
}
.FB-text {
  margin: auto;
  display: flex;
  color: white;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.FB-image {
  
  border-radius: 10px;
}
.FB-button {
  background-color: #3f92ff;
  color: white;
  padding: 15px 30px;
  border: none;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
.FB-button:hover {
  background-color: #238aff;
}
a {
  text-decoration: none;
  
}