<div class="A"></div>
<div class="b"></div>
<div class="c"></div>
<div class="d"></div>
<div class="e"></div>
<style>
  body {
    background: #2F5A76;
  }
  .A {
    width: 100px;
    height: 120px;
    background: #2F5A76;
    position: absolute;
    right: 200px;
    top: 90px;
    z-index: 2;
  }
  .b {
    width: 120px;
    height: 120px;
    background: #7EA6DD;
    position: absolute;
    border-radius: 100%;
    top: 40px;
    left: 140px;
  }
  .c {
    width: 120px;
    height: 120px;
    background: #7EA6DD;
    position: absolute;
    border-radius: 100%;
    top: 140px;
    left: 140px;
  }
  .d {
    width: 60px;
    height: 60px;
    background: #2F5A76;
    position: absolute;
    border-radius: 100%;
    top: 70px;
    left: 170px;
  }
  .e {
    width: 60px;
    height: 60px;
    background: #2F5A76;
    position: absolute;
    border-radius: 100%;
    top: 170px;
    left: 170px;
  }
</style>