

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

  background-image: url("public/stars.png");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}
#navbar {
  width: 100%;
  height: 60px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
#navbar h1 {
  color: white;
  margin: 0;
  font-size: 24px;
}

