div {
    background-color: darkorchid;
    margin-top: 200px;
    height: 360px;
    width: 260px;
    border-radius: 10px;
    
}

body {
    display: flex;
    justify-content: center;
}

input {
    border: none;
    outline: none;
    height: 35px;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 42px;
}
h1 {
    margin-left: 118px;
}
button {
    margin-left: 40px;
}