<div class='a'></div>
<div class='b'></div>
<div class='c'></div>
<style>
  .a {
    width: 400px;
    height: 250px;
    background: #EBF6F0;
    position: absolute;
    left: 0;
    bottom: 0;
    clip-path: polygon(19% 60%, 81% 60%,     100% 100%, 0 100%);
  }
  .b {
    width: 400px;
    height: 250px;
    background: #EBF6F0;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(19% 40%, 81% 40%, 100% 0, 0 0);
  }
  body {
    background: #4A9A86;
  }
  .c {
    position: absolute;
    top: 65;
    left: 115;
    background: #4A9A86;
    height: 170;
    width: 170;
    border-radius: 100%;
  }
</style>