.News-container {
  width: 100%;
  overflow: hidden;
  background: rgba(37, 37, 37, 0.274);
  height: 60px;
  margin-top: -60px;
}

.News-bar {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.News-marquee {
  display: flex;
  width: 200%;
}

.News-track {
  display: flex;
  width: 100%;
  animation: scrollLeft 15s linear infinite;
}

.News-span {
  white-space: nowrap;
  padding-right: 80px;
  color: #a9fb45;
  font-weight: bold;
  font-size: 16px;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}