<div id="a"></div>
<div id="b"></div>
<div id="c"></div>
<div id="d"></div>
<style>
 #a {
    width: 200px;
    height: 120px;
    background: #EAC049;
    position: absolute;
    left: 100px;
    top: 90px;
    z-index: 1;
  }
#b {
    width: 120px;
    height: 200px;
    background: #EAC049;
    position: absolute;
    top: 50px;
    left: 140;
  z-index: 1;
  }
#c {
    width: 40px;
    height: 200px;
    background: #282828;
    position: absolute;
    top: 50px;
    left: 180;
    z-index: 1;
  }
#d {
    width: 200px;
    height: 40px;
    background: #282828;
    position: absolute;
    top: 130px;
    left: 100px;
    z-index: 99;
  }
body {
  background: #51A499;
}

</style>