div {
    background-color: rgb(153, 153, 214);
    inline-size: 6%;
    margin: 60px;
    border-radius: 6px;
    border: double;
    padding: 20px;
}
body {
    align-items: center;
}

h1 {
    background-color: aquamarine;
    inline-size: 100px;
    border-radius: 6px;
    border: dashed;
    margin: 60px;
    padding: 20px;
}