* {
    margin: 0;
}

div {
    background-color: rgb(37, 38, 41);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
}
body {
    justify-content: center;
    background-color: rgb(24, 25, 27);
    display: flex;
    align-items: center;
    margin-top: 160px;
}
img {
    border-radius: 100%;
    width: 70px;
    margin-top: 20px;
    
}
h3 {
    font-size: 25px;
    padding: 5px;
}
#p0 {
    color: rgb(176, 255, 49);
    font-size: 16px;
    padding: 5px;
    
}
#p1 {
    color: grey;
    margin-top: 5px;
}

button {
    background-color: rgb(65, 65, 65);
    outline: none;
    border: none;
    border-radius: 4px;
    width: 190px;
    height: 33px;
    margin: 4px;
    color: white;
    font: bold;
}