.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
  
}

img {
  height: 60px;
  width: auto;
  margin-left: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  

  height: 100%;
  margin-right: 20px;
  height: 60px;
  width: fit-content;
}
.navbar .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.navbar .nav-links li {
  margin-right: 20px;
}
.navbar .nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
  font-weight: 500;
  padding: 5px 10px;

  /* Setup smooth fill animation */
  background-image: linear-gradient(to top, #888888, #555454);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: background-size 500ms ease, color 500ms ease;
}

.navbar .nav-links a:hover {
  color: #ffffff;
  background-size: 100% 100%;
}

.navbar .nav-links a:active {
  color: #494949;
}

* {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

