.Footer-container {
    background-color: #000000;
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
}
.Footer-logo {
    width: auto;
    height: 75px;
    margin-bottom: 10px;
}
.Footer-p1 {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
}

.Footer-p2 {
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}
.Footer-h2 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
}