body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd687;
    
}
div {
    display:inline-block;
    width: 500px;
    margin-top: 200px;
    height: 250px;
    background-color: #a3af9e;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    border: 3px, solid, #a8d309;
}
h2 {
    color: #024202;
}
p {
    color: #024202;
}