.container {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.5)
    ), url("./ChatGPT\ Image\ Jan\ 30\,\ 2026\,\ 09_30_26\ PM.png");
  
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.intro-text {
  max-width: 600px;
  margin-left: 50px;
  border-radius: 8px;
  margin: 230px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(106, 106, 106, 0.4);
}
.intro-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #a9fb45;
  background-color: #3b3b3ba1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.intro-h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}
.intro-p {
  font-size: 18px;
  color: #ffffff;
  max-width: 600px;
  line-height: 1.6;
}
.intro-button:hover {
  background-color: #5555555d;
  
}
