.g {
    border-radius: 4px;
    outline: none;
    margin-top: 25px;
    border: none;
    margin-left: 60px;
}




.j {
    border-radius: 4px;
    outline: none;
    margin-top: 125px;
    border: none;
    margin-left: 60px;
}




div {
    margin-top: 200px;
    height: 500px;
    width: 300px;
    background-color: blueviolet;
    border-radius: 6px;
    

}
body {
    display: flex;
    justify-content: center;
}