#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: flex;
  gap: 40px;
}


.notCart {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.cart {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-left: 2px solid #ccc;
  padding-left: 20px;
}

img {
  width: 200px;
}