header {
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: aliceblue;
}
 
ul {
    
    display: flex;
    gap: 25px;


}
a {
    color: rgb(7, 56, 40);
    list-style: none;


}

a:hover {
    color: rgb(255, 255, 255);
    
}

button {
    border: solid white;
    padding: 7px;
    background-color: transparent;
}
button:hover {
    background-color: white;
    color: cornflowerblue;
    
}