* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(72, 75, 68);
  display: flex;
  position: fixed;
  
}

.titles {
  width: 40%;
  padding: 5px;
  color: #fbfffc;
  background-color: rgb(72, 75, 68);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
h1 {
 
  font-size: 30px;
}
h3 {
  font-size: 12px;
  color: #aeaeae;
  
  
}
.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-direction: row-reverse;
  background-color: rgb(72, 75, 68);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 30%;
  gap: 15px;
}
.link {
  color: #a9fb45;
  text-decoration: none;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  transition: 0.3s;
  

}
.link:hover {
  background-color: #6d7763;
  
  transition: 0.3s;
  padding-bottom: 15px;
  padding-top: 15px;
  
}
#home {
 
  background-color: #383a39;

}
#home:hover {
 
  background-color: #6d7763;

}

.logo {
  height: auto;
  width: 50px;
  padding:5px;
  border-radius: 100%;
}