* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 70px;
  background: #00000088;
  display: flex;
  position: fixed;
  top: -100px; /* start off-screen above */
  left: 0;
  z-index: 1000;

  /* Animation */
  animation: slideDown 0.8s ease-out forwards; /* slide down on load */
  animation-delay: 0.2s; /* optional delay */
}

/* Slide-down keyframes */
@keyframes slideDown {
  to {
    top: 0; /* final position */
  }
}

/* Titles inside navbar */
.titles {
  width: 40%;
  padding: 5px;
  color: #fbfffc;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
h1 {
  font-size: 30px;
}
h3 {
  font-size: 12px;
  color: #aeaeae;
}

/* Navbar links */
.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-direction: row-reverse;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 30%;
  gap: 15px;
}

.link {
  color: #a9fb45;
  text-decoration: none;
  border-radius: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  transition: 0.3s;
}

.link:hover {
  background-color: #6d7763;
  padding-bottom: 15px;
  padding-top: 15px;
  transition: 0.3s;
}



/* Logo */
.logo {
  height: auto;
  width: 50px;
  padding: 5px;
  border-radius: 100%;
}
