body {
    background-color: chartreuse; align-content: center; text-align: center;
}

h1 {
    color: aqua; text-align: center;
}
p {
    
    text-align: center;
}

img{
    ali: center;
}
h2 {
    text-align:center;
}