#main {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
}
button {
    width: 120px;
    height: 35px;
    margin: 10px;
    background-color: yellow;
    color: white;
    border: none;
    border-radius: 7px;

}

#second {
    display: flex;
    
}
body {
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}