#parent {
    width: 300px;
    height: 300px;
    background-color: aqua;
}
#parent0 {
    width: 200px;
    height: 200px;
    background-color: red;
}
#child {
    width: 100px;
    height: 100px;
    background-color: blue;
}

#parent1 {
    width: 300px;
    height: 300px;
    background-color: green;
}
#parent01 {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
}
#child1 {
    width: 100px;
    height: 100px;
    background-color: gray;
}
#parent2 {
    width: 300px;
    height: 300px;
    background-color: gold;
}
#parent02 {
    width: 200px;
    height: 200px;
    background-color: purple;
}
#child2 {
    width: 100px;
    height: 100px;
    background-color: palevioletred;
}