body {
    justify-content: center;
    display: flex;
    
}

div {
    
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border-top-color: rgb(153, 170, 56);
    border-width: 60%;
    border-radius: 100%;
    border-color: chocolate;
    border: dashed;
    
}